<!-- <header class="ts-header has-sticky">
  <div class="header-container">
    <div class="header-template header-v1 show-cart show-search">
      <div class="header-top">
        <div class="container">
          <div class="header-left">
            <span class="ic-mobile-menu-button visible-phone">
              <i class="fa fa-bars"></i>
            </span>
            <div class="info-desc">Welcome you to
              <a href="#">UpStore</a> Theme</div>
            <div class="ts-header-social-icons">
              <span>Follow:</span>
              <ul>
                <li class="facebook">
                  <a href="#" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="twitter">
                  <a href="#" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="google-plus">
                  <a href="#" target="_blank">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li class="instagram">
                  <a href="#" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
                <li class="linkedin">
                  <a href="#" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header-right">
            <span class="ts-group-meta-icon-toggle visible-phone">
              <i class="fa fa-cog"></i>
            </span>
            <div class="group-meta-header">
              <div class="my-account-wrapper">
                <div class="ts-tiny-account-wrapper">
                  <div class="account-control">
                    <a class="login" href="http://demo.theme-sky.com/upstore/my-account/" title="Login">
                      <span>Login</span>
                    </a>
                    /
                    <a class="sign-up" href="http://demo.theme-sky.com/upstore/my-account/" title="Create New Account">
                      <span>Sign up</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="my-wishlist-wrapper">
                <a title="Wishlist" href="http://demo.theme-sky.com/upstore/wishlist/" class="tini-wishlist">
                  Wishlist (0) </a>
              </div>
              <div class="header-currency">
                <div class="wcml_currency_switcher">
                  <a href="javascript: void(0)" class="wcml_selected_currency">USD</a>
                  <ul>
                    <li>
                      <a rel="USD">USD</a>
                    </li>
                    <li>
                      <a rel="EUR">EUR</a>
                    </li>
                    <li>
                      <a rel="AUD">AUD</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="header-language">
                <div class="wpml-ls-statics-shortcode_actions wpml-ls wpml-ls-legacy-dropdown js-wpml-ls-legacy-dropdown">
                  <ul>
                    <li tabindex="0" class="wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-en wpml-ls-current-language wpml-ls-first-item wpml-ls-item-legacy-dropdown">
                      <a href="#" class="js-wpml-ls-item-toggle wpml-ls-item-toggle">
                        <span class="wpml-ls-native">English</span>
                      </a>
                      <ul class="wpml-ls-sub-menu">
                        <li class="wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-fr">
                          <a href="#" class="wpml-ls-link">
                            <span class="wpml-ls-native">Français</span>
                          </a>
                        </li>
                        <li class="wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-de wpml-ls-last-item">
                          <a href="#" class="wpml-ls-link">
                            <span class="wpml-ls-native">Deutsch</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 80px;">
        <div class="header-middle header-sticky" style="">
          <div class="logo-wrapper logo-ipad">
            <div class="logo">
              <a href="http://demo.theme-sky.com/upstore/">

                <img src="http://demothemesky-be87.kxcdn.com/upstore/wp-content/themes/upstore/images/logo.png" alt="UpStore" title="UpStore"
                  class="normal-logo">


                <img src="http://demothemesky-be87.kxcdn.com/upstore/wp-content/themes/upstore/images/logo.png" alt="UpStore" title="UpStore"
                  class="normal-logo mobile-logo">


                <img src="http://demothemesky-be87.kxcdn.com/upstore/wp-content/themes/upstore/images/logo.png" alt="UpStore" title="UpStore"
                  class="normal-logo sticky-logo">


              </a>
            </div>
          </div>
          <div class="container">
            <div class="logo-wrapper">
              <div class="logo">
                <a href="http://demo.theme-sky.com/upstore/">
                  <img src="http://demothemesky-be87.kxcdn.com/upstore/wp-content/themes/upstore/images/logo.png" alt="UpStore" title="UpStore"
                    class="normal-logo">

                  <img src="http://demothemesky-be87.kxcdn.com/upstore/wp-content/themes/upstore/images/logo.png" alt="UpStore" title="UpStore"
                    class="normal-logo mobile-logo">

                  <img src="http://demothemesky-be87.kxcdn.com/upstore/wp-content/themes/upstore/images/logo.png" alt="UpStore" title="UpStore"
                    class="normal-logo sticky-logo">

                </a>
              </div>
            </div>
            <div class="menu-wrapper hidden-phone">
              <div class="ts-menu">
                <nav class="main-menu ts-mega-menu-wrapper">
                  <ul id="menu-menu-main-1" class="menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-6869 ts-megamenu ts-megamenu-columns-2 parent">
                      <a href="http://demo.theme-sky.com/upstore/">
                        <span class="menu-label">Home</span>
                      </a>
                      <span class="ts-menu-drop-icon"></span>
                      <ul class="sub-menu" style="max-width: 1170px; left: -231px; right: auto;">
                        <li>
                          <div class="ts-megamenu-widgets-container ts-megamenu-container">
                            <ul>
                              <li id="nav_menu-30" class="widget widget_nav_menu">
                                <div class="menu-menu-list-home-1-container">
                                  <ul id="menu-menu-list-home-3" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-10318">
                                      <a href="http://demo.theme-sky.com/upstore/">Home Fashion 1</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10315">
                                      <a href="http://demo.theme-sky.com/upstore/supermarket/home-fashion-2/?color=default2">Home Fashion 2</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10316">
                                      <a href="http://demo.theme-sky.com/upstore/supermarket/home-fashion-3/?hover_style=style-2">Home Fashion 3</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11288">
                                      <a href="http://demo.theme-sky.com/upstore/supermarket/home-fashion-4/?color=blue">Home Fashion 4</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11289">
                                      <a href="http://demo.theme-sky.com/upstore-electronic/">Home Electronic</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11290">
                                      <a href="http://demo.theme-sky.com/upstore-supermarket/">Home Supermarket</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li id="nav_menu-31" class="widget widget_nav_menu">
                                <div class="menu-menu-list-home-2-container">
                                  <ul id="menu-menu-list-home-4" class="menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11291">
                                      <a href="http://demo.theme-sky.com/upstore-sport/">Home Sport</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11292">
                                      <a href="http://demo.theme-sky.com/upstore-yoga/">Home Yoga</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11293">
                                      <a href="http://demo.theme-sky.com/upstore-spa/">Home Spa</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11294">
                                      <a href="http://demo.theme-sky.com/upstore-pet/">Home Pet</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11295">
                                      <a href="http://demo.theme-sky.com/upstore-furniture/">Home Furniture</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11296">
                                      <a href="http://demo.theme-sky.com/upstore-organic/">Home Organic</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5459 ts-normal-menu parent">
                      <a href="#">
                        <span class="menu-label">Pages</span>
                      </a>
                      <span class="ts-menu-drop-icon"></span>
                      <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5466">
                          <a href="http://demo.theme-sky.com/upstore/about-us/">
                            <span class="menu-label">About us</span>
                          </a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5467">
                          <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/faq/">
                            <span class="menu-label">FAQ</span>
                          </a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8806">
                          <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/typography/">
                            <span class="menu-label">Typography</span>
                          </a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5468">
                          <a href="http://demo.theme-sky.com/upstore/coming-soon/">
                            <span class="menu-label">Coming soon</span>
                          </a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5471">
                          <a href="http://demo.theme-sky.com/upstore/?p=3434">
                            <span class="menu-label">404</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8853 ts-megamenu ts-megamenu-columns-1 parent">
                      <a href="http://demo.theme-sky.com/upstore/blog/">
                        <span class="menu-label">Blog</span>
                      </a>
                      <span class="ts-menu-drop-icon"></span>
                      <ul class="sub-menu" style="max-width: 1170px; left: -107px; right: auto;">
                        <li>
                          <div class="ts-megamenu-widgets-container ts-megamenu-container">
                            <ul>
                              <li id="nav_menu-25" class="widget widget_nav_menu">
                                <div class="menu-menu-blog-container">
                                  <ul id="menu-menu-blog-1" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8763">
                                      <a href="http://demo.theme-sky.com/upstore/blog/">Blog Standard</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8764">
                                      <a href="http://demo.theme-sky.com/upstore/blog-fullwidth/">Blog Fullwidth</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8896">
                                      <a href="?p=6558&amp;style=list&amp;excerpt_words=20">Blog List Style</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-8766">
                                      <a href="http://demo.theme-sky.com/upstore/blog-masonry/">Blog Masonry</a>
                                      <span class="ts-menu-drop-icon"></span>
                                      <ul class="sub-menu">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8768">
                                          <a href="http://demo.theme-sky.com/upstore/blog-masonry/">2 columns</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8767">
                                          <a href="http://demo.theme-sky.com/upstore/blog-masonry/3-columns/">3 columns</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8769">
                                          <a href="http://demo.theme-sky.com/upstore/blog-masonry/with-sidebar/">With sidebar</a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8770">
                                      <a href="http://demo.theme-sky.com/upstore/translation-and-wpml-compatible/">Blog Detail</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8771">
                                      <a href="http://demo.theme-sky.com/upstore/forums/">Forum</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5460 ts-megamenu ts-megamenu-columns-1 parent">
                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/portfolio/">
                        <span class="menu-label">Portfolio</span>
                      </a>
                      <span class="ts-menu-drop-icon"></span>
                      <ul class="sub-menu" style="max-width: 1170px; left: -89.5px; right: auto;">
                        <li>
                          <div class="ts-megamenu-widgets-container ts-megamenu-container">
                            <ul>
                              <li id="nav_menu-26" class="widget widget_nav_menu">
                                <div class="menu-menu-portfolio-container">
                                  <ul id="menu-menu-portfolio-1" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8757">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/portfolio/portfolio-style-01/">Portfolio style 01</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8759">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/portfolio/portfolio-style-02/">Portfolio style 02</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-8760">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/portfolio/portfolio-slider/">Portfolio Slider</a>
                                      <span class="ts-menu-drop-icon"></span>
                                      <ul class="sub-menu">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8858">
                                          <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/portfolio/portfolio-slider/">Slider Default</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8864">
                                          <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/portfolio/slider-center/">Slider Center</a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8761">
                                      <a href="?p=2091">Portfolio Detail</a>
                                      <span class="ts-menu-drop-icon"></span>
                                      <ul class="sub-menu">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8855">
                                          <a href="?p=2091&amp;layout=top-thumbnail&amp;thumbnail_style=slider&amp;slider_style=default">Default Slider</a>
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8856">
                                          <a href="?p=2091&amp;layout=top-thumbnail&amp;thumbnail_style=slider&amp;slider_style=center-fullwidth">Center Slider</a>
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8967">
                                          <a href="?p=2091&amp;layout=left-thumbnail&amp;thumbnail_style=gallery&amp;slider_style=default">Gallery Style</a>
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9057">
                                          <a href="?p=2066">Video</a>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="custom-width-menu menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-5484 ts-megamenu ts-megamenu-columns-3 parent">
                      <a href="http://demo.theme-sky.com/upstore/shop/">
                        <span class="menu-label">Shop</span>
                      </a>
                      <span class="ts-menu-drop-icon"></span>
                      <ul class="sub-menu" style="max-width: 1170px; left: -310.438px; right: auto;">
                        <li>
                          <div class="ts-megamenu-widgets-container ts-megamenu-container">
                            <ul>
                              <li id="nav_menu-29" class="widget widget_nav_menu">
                                <h2 class="widgettitle">Shop layouts</h2>
                                <div class="menu-menu-shop-layouts-container">
                                  <ul id="menu-menu-shop-layouts-1" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-8810">
                                      <a href="http://demo.theme-sky.com/upstore/shop/">Top Filter</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9085">
                                      <a href="http://demo.theme-sky.com/upstore/shop/?top_filter_sidebar=1">Sidebar Filter</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8811">
                                      <a href="http://demo.theme-sky.com/upstore/product-category/accessories-clothing/?columns=3&amp;per_page=9&amp;top_filter=0">Left Sidebar</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9368">
                                      <a href="http://demo.theme-sky.com/upstore/product-category/womens-clothing/?columns=3&amp;per_page=9&amp;top_filter=0">Right Sidebar</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9179">
                                      <a href="http://demo.theme-sky.com/upstore/shop/?shop_display=subcategories">Categories</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li id="nav_menu-28" class="widget widget_nav_menu">
                                <h2 class="widgettitle">Product types</h2>
                                <div class="menu-menu-product-types-container">
                                  <ul id="menu-menu-product-types-1" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-8819">
                                      <a href="http://demo.theme-sky.com/upstore/shop/mauris-amet-simple/">Simple product</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8814">
                                      <a href="http://demo.theme-sky.com/upstore/shop/cras-adiping-variable/?options=0-0-0-0-0">Variable product 01</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8815">
                                      <a href="http://demo.theme-sky.com/upstore/shop/cras-proim-variable/?options=0-0-0-2-1">Variable product 02</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8816">
                                      <a href="http://demo.theme-sky.com/upstore/shop/cras-metus-im-external/">External product</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8817">
                                      <a href="http://demo.theme-sky.com/upstore/shop/cras-aliquet-isum-group/?options=0-0-0-0">Group product</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li id="nav_menu-27" class="widget widget_nav_menu">
                                <h2 class="widgettitle">Detail layouts</h2>
                                <div class="menu-menu-detail-layouts-container">
                                  <ul id="menu-menu-detail-layouts-1" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-9054">
                                      <a href="http://demo.theme-sky.com/upstore/shop/cras-purrus-default/">Vertical Thumbnail</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8813">
                                      <a href="http://demo.theme-sky.com/upstore/shop/don-nineque-simple/?options=0">Horizontal Thumbnail</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9078">
                                      <a href="http://demo.theme-sky.com/upstore/shop/mauri-atodi-default/?options=1-1-1-1-1-1-0-0-0">Fullwidth Layout</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9079">
                                      <a href="http://demo.theme-sky.com/upstore/shop/mauris-amet-simple/?options=1-0-0-0-1-2">Scrolling Layout</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9080">
                                      <a href="http://demo.theme-sky.com/upstore/shop/cras-tortum-default/?options=1-1-1-1-1-3-0-0-0-0">Top Thumbnail Slider</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5485 ts-megamenu ts-megamenu-columns--1 ts-megamenu-fullwidth ts-megamenu-fullwidth-stretch parent">
                      <a href="#">
                        <span class="menu-label">Shortcode</span>
                      </a>
                      <span class="ts-menu-drop-icon"></span>
                      <ul class="sub-menu" style="width: 1286px; left: -903.922px; right: auto;">
                        <li>
                          <div class="ts-megamenu-widgets-container ts-megamenu-container">
                            <ul>
                              <li id="nav_menu-21" class="widget widget_nav_menu">
                                <div class="menu-menu-shop-shortcode-container">
                                  <ul id="menu-menu-shop-shortcode-1" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-463">
                                      <a href="http://demo.theme-sky.com/upstore/shortcode-products/popular-product/">TS Products</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2680">
                                      <a href="http://demo.theme-sky.com/upstore/shortcode-products/product-deals/">Product Deals</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-464">
                                      <a href="http://demo.theme-sky.com/upstore/shortcode-products/product-deals-2/">Product Deals 2</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-465">
                                      <a href="http://demo.theme-sky.com/upstore/shortcode-products/categories-tab/">Categories Tab</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1268">
                                      <a href="http://demo.theme-sky.com/upstore/shortcode-products/product-category/">Product Category</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1269">
                                      <a href="http://demo.theme-sky.com/upstore/shortcode-products/product-type-tabs/">Product Type Tabs</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2682">
                                      <a href="http://demo.theme-sky.com/upstore/shortcode-products/products-widget/">Products Widget</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li id="nav_menu-24" class="widget widget_nav_menu">
                                <div class="menu-menu-shortcode-blog-container">
                                  <ul id="menu-menu-shortcode-blog-1" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/typography/">Typography</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2636">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/feature/">Feature</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8535">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/image-box/">Image box</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2805">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/heading/">Heading</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2807">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/google-map/">Google map</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3469">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/images-gallery/">Images gallery</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4258">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/message-box/">Message box</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li id="nav_menu-23" class="widget widget_nav_menu">
                                <div class="menu-menu-shortcode-blog-2-container">
                                  <ul id="menu-menu-shortcode-blog-4" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2667">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/tab-content/">Tab content</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8528">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/tour-section/">Tour section</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3462">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/accordion/">Accordion</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2627">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/button/">Button</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2632">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/progress-bar/">Progress bar</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4257">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/price-table/">Price table</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5252">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/milestone/">Milestone</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li id="nav_menu-22" class="widget widget_nav_menu">
                                <div class="menu-menu-shortcode-blog-3-container">
                                  <ul id="menu-menu-shortcode-blog-5" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2816">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/shortcode-blog/">Shortcode blog</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2810">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/banner/">Banner</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9756">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/single-image/">Single image</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2814">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/team-member/">Team member</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2815">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/testimonial/">Testimonial</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4997">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/twitter-slider/">Twitter slider</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2812">
                                      <a href="http://demo.theme-sky.com/upstore/blog-shortcodes/portfolio/">Portfolio</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6421 ts-normal-menu parent">
                      <a href="http://demo.theme-sky.com/upstore/contact-us/">
                        <span class="menu-label">Contact us</span>
                      </a>
                      <span class="ts-menu-drop-icon"></span>
                      <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8679">
                          <a href="http://demo.theme-sky.com/upstore/contact-us/contact-us-2/">
                            <span class="menu-label">Contact us 2</span>
                          </a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8680">
                          <a href="http://demo.theme-sky.com/upstore/contact-us/contact-us-3/">
                            <span class="menu-label">Contact us 3</span>
                          </a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8681">
                          <a href="http://demo.theme-sky.com/upstore/contact-us/contact-us-4/">
                            <span class="menu-label">Contact us 4</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="header-right">

              <div class="shopping-cart-wrapper">
                <div class="ts-tiny-cart-wrapper" style="opacity: 1;">
                  <a class="cart-control" href="http://demo.theme-sky.com/upstore/cart/" title="View your shopping bag">
                    <span class="ic-cart">
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                    <span class="cart-number">0</span>
                  </a>
                  <span class="cart-drop-icon drop-icon"></span>
                  <div class="cart-dropdown-form dropdown-container">
                    <div class="form-content">
                      <label>Your shopping cart is empty</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="search-sidebar-icon search-button">
                <span class="icon"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header> -->


<div class="page-header" style="background-color: #252525; height: 48px">
    <div class="container">
        <div class="row">
          <div class="col-md-3" style="border-right: 1px solid rgba(85,85,85,1); padding-bottom: -1px;">
              <p>Welcome you to <span>UpStore</span> Theme</p>
          </div>
          <div class="col-md-4">
            <p>
              Follow:
              <span>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
              </span>
            </p>
          </div>
          <div class="col-md-5">
            <p>
              <span style="color: #a9a9a9; text-decoration: none; border-right: 1px solid rgba(85,85,85,1); padding-bottom: 18px; ">
                <span style="color: #a9a9a9; text-decoration: none; text-align: center; padding-right: 20px">
                    English
                </span>
                <span class="caret">
                </span>
              </span>
              <span style="color: #a9a9a9; text-decoration: none;margin-left: 25px ;  border-right: 1px solid rgba(85,85,85,1); padding-bottom: 18px; margin-right: 10px;">
                <span style="color: #a9a9a9; text-decoration: none; text-align: center; padding-right: 20px">
                    USD
                </span>
                <span class="caret">
                </span>
              </span>
              <span style="color: #a9a9a9; text-decoration: none;margin-left: 25px;  border-right: 1px solid rgba(85,85,85,1); padding-bottom: 18px; margin-right: 10px;">
                <span style="color: #a9a9a9; text-decoration: none; text-align: center; padding-right: 20px">
                    Wishlist (0)
                </span>
                <span class="caret">
                </span>
              </span>
              <span style="color: #a9a9a9; text-decoration: none;margin-left: 25px; margin-left: 5px;">
                Login / Sign up
                <span class="caret">
                </span>
              </span>
            </p>
          </div>
        </div> 
    </div>   
</div>
