<h1>
  {{ShopIndex.title}}
</h1>
<p>
  SKU:
  <span style="color: #555555">
    {{ShopIndex.SKU}}
  </span>
  <br/> Availability:
  <span style="color: #555555">
    In Stock
  </span>
  <br/>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star-o unchecked"></span>
  <span>
    &nbsp;
    <a href="#">
      4 Reviews
    </a>
    &nbsp;
    <a href="#">
      Email to a friend
    </a>
  </span>
</p>
<b style="font-size: 20px">{{ShopIndex.price}}</b>
<br/>
<br/>
<p>
  <span style="color: #555555">
    {{ShopIndex.Description}}
  </span>
</p>
<b>
  Quantity
</b>
<br/>