.center-block {
    float:none;
}

.containers {
  position: relative;
}

button{
  margin-left: 8px;
  background-color: gray;
}

div {
  cursor: pointer;
}

.containerButtons{
  visibility: hidden;
}

.containers:hover > .containerButtons{
  visibility: visible;
}

i {
  color: white;
}

button:hover{
  background-color: black;
}