<!-- <div class="container" >
  <h1 style="text-align: center">
    SHOP Details
  </h1>
  <div class="row">
    <div class="col-md-12" >
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{ShopIndex.image}} width="250" height="250">
        <div class="card-body" style="text-align: center">
          <h5 class="card-title" style = "text-align: center">{{ShopIndex.title}}</h5>
          <p>{{ShopIndex.Description}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<h2 style="text-align: center; margin-top: 20px">
  SHOP DETAILS
</h2>
<div class="container containerStyle">

  <div class="row">
    <div class="col-md-4">
      <img src="{{ShopIndex.image}}" width="400" height="400">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 title">
      <h5>
        {{ShopIndex.title}}
      </h5>
      <h6>
        {{ShopIndex.price}}
      </h6>
      <h6>
        <p>
          {{ShopIndex.Description}}
        </p>
      </h6>
      <p class="footer">
        SKU: {{ShopIndex.SKU}}
      </p>
      <p>
          Category: {{ShopIndex.category}}
      </p>
      <p>
          Tags: {{ShopIndex.Tag}}
      </p>
    </div>
  </div>

</div>