.containerStyle{
    margin-top: 15%;
}

.title{
    margin-left: 15px;
    
}

.footer{
    margin-top: 50px;
}

button[type=submit] {
    margin-top: 10px;
    width: 195px;
    border-radius: 0px;
}

button {
    border-radius: 0px;
    margin-top: 10px;
    margin-left: 2px;
}

button:hover{
    background-color: #27af7d;
}

input[type=number] {
    opacity: 0.5;
}

input[type=number]:hover {
    opacity: 1;
}

b{
    font-family: Poppins;
}

p{
    font-family: Poppins;
}

h1{
    font-family: Poppins;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

sku{
    padding: 0 0 0 3px;
    display: inline-block;
    font-weight: normal;
}

.checked {
    color: orange;
}

a:hover{
    text-decoration: none;
    color: #27af7d;
}

i{
    color: grey;
}

.containers{
    position: relative;
    background-color: white;
    height: 25px;
}

.containers:hover{
    background-color: #27af7d;
}

.accordion-btn{
    padding: 20px; 
}

.accordion-btn:hover{
    color: white;
}

.accordion-btn:active{
    background-color: #27af7d;
    color: white;
}

