<!-- <div class="container" >
  <h1 style="text-align: center">
    SHOP Details
  </h1>
  <div class="row">
    <div class="col-md-12" >
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{ShopIndex.image}} width="250" height="250">
        <div class="card-body" style="text-align: center">
          <h5 class="card-title" style = "text-align: center">{{ShopIndex.title}}</h5>
          <p>{{ShopIndex.Description}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<h2 style="text-align: center; margin-top: 20px">
  SHOP DETAILS
</h2>
<div class="container containerStyle">

  <div class="row">
    <div class="col-md-2">
      <img src="{{ShopIndex.image}}" width="100" height="100">
      <img src="{{ShopIndex.image}}" width="100" height="100">
      <img src="{{ShopIndex.image}}" width="100" height="100">
    </div>
    <div class="col-md-6">
      <img src="{{ShopIndex.image}}" width="400" height="400">
    </div>
    <div class="col-md-4">
      <b>
        {{ShopIndex.title}}
      </b>
      <p>
        SKU: {{ShopIndex.SKU}}
      </p>
      <b>
        {{ShopIndex.price}}
      </b>
      <p>
        {{ShopIndex.Description}}
      </p>
      <h5>
        Quantity
      </h5>
      <input type="number">
      <button type="submit" class="btn btn-dark btn-lg ">
        <i class="fa fa-shopping-cart"></i> ADD TO CART
      </button>
      <p class="footer">
        Category: {{ShopIndex.category}}
      </p>
      <p>
        Tags: {{ShopIndex.Tag}}
      </p>
    </div>
    <!-- <div class="col-md-3">
      <img src="{{ShopIndex.image}}" width="300" height="400">
    </div>
    <div class="col-md-7 title">
      <h5>
        {{ShopIndex.title}}
      </h5>
      <p>
        SKU: {{ShopIndex.SKU}}
      </p>
      <h6>
        {{ShopIndex.price}}
      </h6>
      <h6>
        <p>
          {{ShopIndex.Description}}
        </p>
      </h6>
      <h5>
        Quantity
      </h5>

      <input type="number">
      <br/>
      <button type="submit" class="btn btn-dark btn-lg ">
          <i class="fa fa-shopping-cart"></i> ADD TO CART
      </button>

      <p class="footer">
        Category: {{ShopIndex.category}}
      </p>
      <p>
        Tags: {{ShopIndex.Tag}}
      </p>
    </div>
  </div> -->

</div>